body{
    background:#f4f7fc;
}

.hero{
    background: linear-gradient(135deg,#1976d2,#42a5f5);
    color:white;
    padding:60px;
    text-align:center;
    border-radius:10px;
    margin-bottom:30px;
}

.train-card{
    transition:0.3s;
}

.train-card:hover{
    transform:scale(1.03);
}